{% extends 'Admin/layout.html' %} {% block title %} Dashboard Admin {% endblock
%} {% block content %}

<div class="mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-info">
        <div class="card-header">Tutorial</div>
        <div class="card-body">
          <ul style="list-style-type: decimal-leading-zero;">
            <li style="margin-bottom: .5rem;">Buka Menu Uploader</li>
            <li style="margin-bottom: .5rem;">Klik tombol Tambah</li>
            <li style="margin-bottom: .5rem;">Isikan Nama (bebas) dan File yang akan di uji</li>
            <li style="margin-bottom: .5rem;">Jika belum punya file, silahkan download template yang tersedia</li>
            <li style="margin-bottom: .5rem;">Jika sudah, Klik submit</li>
            <li style="margin-bottom: .5rem;">Untuk melihat hasil spacy, klik tombol spacy</li>
            <li style="margin-bottom: .5rem;">
              Untuk melihat grafik wilayah & tindak kriminal, klik tombol grafik
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
